name: CI

on:
  workflow_dispatch: # Allows manual triggering
  schedule:
    - cron: '0 0 * * 6' # Runs every Saturday at midnight UTC

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python 3.13
      uses: actions/setup-python@v2
      with:
        python-version: 3.13

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run sync-fs-at.py
      env:
        GOOGLE_APPLICATION_CREDENTIALS_CONTENT: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
      run: |        
        echo "$GOOGLE_APPLICATION_CREDENTIALS_CONTENT" > creds.json
        GOOGLE_APPLICATION_CREDENTIALS=creds.json python sync-fs-at.py